
.btn-admin {
    padding: 0 20px;
    font-size: 16px;
    margin: 3px;
}

.user-details {
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}